@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT VARIABLES */

:root {
  --primary-color: #31287d;
  --white: #ffffff;
  --dark: #000e22;
  --primary-pink: #e60076;
}

.dark-bg {
  background-color: var(--dark);
}

.p-text-color {
  color: var(--primary-color);
}
.pink-text {
  color: var(--primary-pink);
}

.custom-border {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

body,
html {
  font-family: 'Poppins', sans-serif;
}

/* NAV AND CAROUSEL SECTION */

.c-item {
  height: 100vh;
}

.carousel-caption {
  margin-top: 10%;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.navbar-brand {
  width: 200px;
  height: 100px;
  margin-top: -10px;
}
.nav-item .nav-link:hover {
  color: var(--primary-color);
}
.dir-img {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
}

.dir-message-more {
  display: none;
}
a.btn.learn-more-btn {
  background-color: var(--primary-pink);
  color: var(--white);
  outline: none;
  width: 100px;
  padding: 7px;
  position: relative;
  left: 45%;
}
a.btn.learn-more-btn:hover {
  background-color: var(--primary-pink);
  color: var(--white);
  outline: none;
}
a.btn.learn-more-btn:focus {
  background-color: var(--primary-pink);
  outline: none;
  border: none;
}

button.floating-call-btn {
  padding: 10px;
  font-size: 0.4rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 50%;
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 10;
  outline: none;
  color: var(--primary-color);
}

button.floating-call-btn:hover,
button.floating-call-btn:focus {
  background-color: var(--primary-color);
  color: var(--primary-color);
  transform: scale(1.2);
}

.read-more {
  color: var(--primary-color);
  cursor: pointer;
}

/* ABOUT US */

.main-section {
  padding-top: 10%;
}

.goals-section {
  background-color: rgb(247, 247, 247);
}

.underline-text {
  position: relative;
}

.underline-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 42%;
  width: 15%;
  height: 3px; /* Adjust thickness as needed */
  background-color: var(--primary-pink); /* Customize underline color */
  transition: transform 0.25s ease-out;
}
.logo-c {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.original-logo {
  position: relative;
  width: 100%;
  right: 0;
  overflow: hidden;
  object-fit: cover;
  object-position: 55%;
  z-index: -10;
  overflow: hidden;
}

.feature-item {
  display: flex;
  gap: 10px;
}

.feature-icon {
  color: var(--primary-color);
}

/* DIVISIONS */
.nav-tabs .nav-link {
  color: #495057;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;
}
.tab-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul.divisions-dropdown {
  min-width: 280px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.hero-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.7511379551820728) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  object-fit: cover;
  height: 350px;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero-section .hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20%;
  height: auto;
  opacity: 0.1;
  z-index: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.photo-gallery {
  display: flex;
  gap: 20px;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.photo-caption {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 17%;
  font-size: 2rem;
  color: var(--white);
}

/* PROJECTS */

.parallax-inner h1 {
  color: rgba(255, 255, 255, 0.4);
}

.parallax-1 {
  background: url('/assets/images/image-7.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-2 {
  background: url('/assets/images/image-6.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-3 {
  background: url('/assets/images/image-4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-inner {
  padding: 20% 0;
}

/* FOOTER */

.footer-link {
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-list.footer-link:hover {
  color: var(--primary-pink);
}

.socials {
  font-size: 23px;
}

.nav-item #navbarDropdown:hover {
  color: var(--primary-pink);
}

ul .dropdown-menu {
  width: 100%;
}

/* DIVISION PROJECTS */
.gallery-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.gallery-card:hover {
  transform: scale(1.05);
}

.gallery-img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* STAFF PAGE */
.staff-card .card {
  width: 100%;
  max-width: 250px;
  margin: auto;
}
.staff-card .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* NEWS PAGE */

.news-item {
  display: flex;
  align-items: stretch;
  border-bottom: 2px solid #eee;
}
.news-date {
  background: var(--primary-pink);
  color: white;
  text-align: center;
  width: 80px;
  padding: 10px;
  font-weight: bold;
}
.news-date span {
  display: block;
  font-size: 1.5rem;
}
.news-content {
  background: var(--primary-color);
  color: white;
  padding: 15px;
  flex-grow: 1;
}
.news-content h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.featured-news img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .main-section {
    padding-top: 25%;
  }
  .parallax-1,
  .parallax-2,
  .parallax-3 {
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

/* @media (min-width: 992px) {
  .carousel-caption {
    position: relative;
    top: 50%;
    transform: translateY(7%);
    text-align: center;
  }
  .learn-more-btn {
    display: none;
  }
} */
